{% extends 'base.html' %}

{%block content%}
  <nav>

    <h2 class="logo">RoyalTaste</h2>

    <ul id="navLinks">

      <li><a href="main">Home</a></li>

      <li><a href="about">About</a></li>

      <li><a href="menu.html">Menu</a></li>

      <li><a href="gallery.html">Gallery</a></li>

      <li><a href="contact.html">Contact</a></li>

    </ul>

    <div class="menu-btn" id="menuBtn">
      ☰
    </div>

  </nav>

</header>

<section class="page">

  <h1>About Us</h1>

  <h1>Your name is {{name}}</h1>
  <h2>your email is {{email}}</h2>
  <h3>your message are {{message}}</h3>

  <div class="about-section">

    <img
      src="https://images.unsplash.com/photo-1552566626-52f8b828add9?q=80&w=1200&auto=format&fit=crop"
      alt=""
    >

    <div>

      <p>
        RoyalTaste Restaurant is known for luxury dining experience,
        delicious food and premium atmosphere.
      </p>

      <br>

      <p>
        We provide fresh ingredients and professional chefs
        to deliver unforgettable meals.
      </p>

    </div>

  </div>

</section>

{%endblock%}

<script src="script.js"></script>

</body>
</html>