{% extends "base.html" %}

{% block content %}


  <nav>

    <h2 class="logo">RoyalTaste</h2>

    <ul id="navLinks">

      <li><a href="main">Home</a></li>

      <li><a href="about">About</a></li>

      <li><a href="menu">Menu</a></li>

      <li><a href="gallery.html">Gallery</a></li>

      <li><a href="contact.html">Contact</a></li>

    </ul>

    <div class="menu-btn" id="menuBtn">
      ☰
    </div>

  </nav>

</header>

<section class="page">

  <h1>Our Menu</h1>

  <div class="menu-grid">

    <div class="card">

      <img
        src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1200&auto=format&fit=crop"
        alt=""
      >

      <h3>Italian Pizza</h3>

      <p>₹299</p>

    </div>

    <div class="card">

      <img
        src="https://images.unsplash.com/photo-1550547660-d9450f859349?q=80&w=1200&auto=format&fit=crop"
        alt=""
      >

      <h3>Chicken Burger</h3>

      <p>₹199</p>

    </div>

    <div class="card">

      <img
        src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1200&auto=format&fit=crop"
        alt=""
      >

      <h3>Pasta</h3>

      <p>₹249</p>

    </div>

  </div>

</section>

{%endblock%}

<script src="script.js"></script>

</body>
</html>